language: android

android:
  components:
  - platform-tools
  - tools
  - android-24
  - build-tools-24.0.3
  - extra-android-support
  - extra-android-m2repository
  licenses:
  - android-sdk-license-.+

jdk:
- oraclejdk8

branches:
  except:
  - gh-pages

notifications:
  email: false

sudo: false

script: "./gradlew build test"

cache:
  directories:
  - "$HOME/.gradle"

env:
  global:
  - secure: BwRluyeCngSqNkuHwvO+SN9o1gsO28EbfGkqXosbzxi67OVAXS4J6/Xji6ZMvJ2TU3mjnVCnzlgk7t4JtyB0Qlgc3vpIbQfWkICat/Zf1QXBaMUW9b5uv9cmmwO7HJtzCqGgwOYqDwsrUDt2tUpiFr/LQUKTbIs+kn5I8ejVC+LCGyUhmAQqWomwL+lVfXwgGiTmLFl5XmVUL++ohWxp245xRHbsfp5TQ55V6dGzIE2xGjaa99ruiURdExVqpAgImAu0QMZzfF1FfiWC2dCuvAVhjbMiR2dtBtyVQg5/XtIYqN7ZCgQ7zOfzCVN+9v6KnN4ZvT8SGri2smW4OeDCiQp3Fw5fXc432hKvn3/UKNHZKF4EoswXMZY8ib4GpOuh83GJ5hCV9+fqc1gCn6fWvjVQIYzYom51tiDTETJAYP6GgiJgPJjG0QtS27ybni6mTtchGxMjvsLAPulbZyx1CVD6oImmyW04c9Ddts3kA2VPydC1akFZ6Ad9OPaRT2fHRRUGYd8+dfLqzJ4QhuqayMXFQ9HPdUbQY+UaWv7IkdvjWGQ+mU43fS+pFJF9BeKW3l8Qi8CHP4h6iJxjDSzUd/kWhZ2zCJq0muA+wX/MTa9JddCIWNAW1WVVgzU8z9qdEkj2MIgW4nc+vRiTk3hrQcsePqcYjvjjpwoUFbpr1X0=
  - secure: KUqRhjXJCq1HFFeYGJZ40w18UyDOwdmm+mekco8nDCFMGpLxzzPoiYfn3/2TT7ZQ2a4kCu43TZq2y+EsHBb4jGui8qKP0jSnOBnX0SAS8SLWqCH4YltEs2JJHPyUxcxdpBm7uGdaDzl/txNvorVjkACuMzqe1aKIbVQD6H6pYLQsSaFTa0VMuBNo2g9gC3k9sSLqTGRTyrzaXqJaZiTrXGYPXYlsrIXBtaAU9+3eWqcDJ8TpH+/Pkrh5i8On+Hz8t8lr5lRThWXz8T2OqYJfw9BbJMlOpf0u0YuxtTRyP2RR3XRWgqSoPY0Ic78JIiXOM6s2GLaGIX6OBcxh411VcgzBfgKFYb/+lrUzDVz1Wtu0Ptwj4GgxmcWEleR+y1o/iXkuXwshOWSe5gn1fKB7fILA2ueZRN8nEzuDC61WRswcLcQlz2rRXvK3y7Ez46IHI6QGMrIEa+oOte+rCAXyw4+CK4XtFZS5CP2T2UqoNL9DQ+h9lVMdlpN5Y7rZ+cnyVijA5Ja72yQwP7tnO2qAxAO1BBZQ2hmJGI+DxlZ8uNyM8nphy33J5PDCdZvJdkkf6qNvW6JNWcrYDmxtB8hPiNy/gdebcViYiKLI5U9+DBqXmUQugylYIp4oN/ulMRk7Yi8X6fTT6nLPnwwVrxgHE8xMIvAVobDTcZD1BC8/tT4=

after_success:
  - ./deploy_snapshot.sh
  
after_failure:  
  cat /home/travis/build/sockeqwe/AdapterDelegates/library/build/outputs/lint-results-debug.xml
